## **##ASSINGMENT 0##** ##

Topics cover up for this assingment are ---


*   Basic Python Exercise
       1.   Create a new list from two lists
       2.   Print multiplication table from 1 to 10
       1.   Print a downward Half-Pyramid Pattern (containing 0s only)
       1.   Add new data to list and Sorting
       2.   Odd number checker
       1.   Mode Calculator   
*   Numpy Exercise
       1.   Create a 4x2 integer Array abd Print its attributes(shape,dimension,lenght of each byte)
       2.   Array Indexing
       1.   Array Sorting
*   Pandas Exercise

       From a given Dataset---
       1.   Print the first and the last five rows.
       2.   Replace all the coloumn values which contain ?,n.a.,or NAN with suitable values and print the updated dataset.
       3.   count total cars per company and print them


*   Matplotlib Exercise
       1.   Line plot
       2.   bar chart

# Basic Python Exercise

## Problem Statement 1 --

            Create a new list from two lists
            list1 = [10,20,25,30,35]
            list2 = [40,45,60,75,90]


###  Solution can be --

        1.  Concatane the lists              i.e. (a+b)
        2.  Zip (pair elemnts) together      i.e. (list(zip(a,b)))
        3.  Copy one and Extend with another i.e. (a.copy();.extend(b))
        4.  Using itertools.chain()          i.e. (list(chain(a,b)))
        5.  Set operations                   i.e. (list(set(a+b)))

In [ ]:
list_1 = [10,20,25,30,35]
list_2 = [40,45,60,75,90]

# concatane the lists
new_list = list_1 + list_2
print(new_list)
print()

# zip (pair elemnts) together
new_list = list(zip(list_1,list_2))
print(new_list)
print()

# copy one and Extend with another
new_list =  list_1.copy()
new_list.extend(list_2)
print(new_list)
print()

# Using itertools.chain()
from itertools import chain
new_list = list(chain(list_1,list_2))
print(new_list)
print()

# Set operations
new_list = list(set(list_1+list_2))
print(new_list)
print()

## Problem Statement 2 ---


        Print a multipication table from 1 to 10

### solution ---

In [ ]:
i = 0
j = 0

# Nested for loops -- rowwise
for i in range (1,11):
  for j in range (1,11):
    print(i,"*",j,"=",i*j)
# print new line btw. tabels
  print()

# Nested for loops -- coloumnwise or Horizontal Format
for i in  range (1,11):
  for j in range (1,11):
# ':4' stands for -- the number will be right-allinged using a fied width of 4 charactes.
    print(f"{i*j:4}", end = " ")
 # print new line btw. tables
    print()

 # formattaed grid tables
print()
for i in range (0,11):
# 'end=""'satnds for -- replaces the new line with a space..... end="/t" -- tab spacing
  print(f"{i:4}", end=" ")
# notice this print is out of for loop
print()
for i in range (1,11):
  print (f"{i:4}", end = " ")
  for j in range (1,11):
    print(f"{i*j:4}", end = " ")
# notice this print is in second for loop
  print()

## Problem statement 3 ---

        Print a downward half-pyramid patter(containing 0s only)

        0 0 0 0 0
        0 0 0 0
        0 0 0
        0 0
        0

### Solution can be --

(assuming right allinged)

        1.  using nested for loop with end=""     i.e. (rows>backward for loop>another for loop>use end="")
        2.  using single for loop                 i.e. (rows=i>backward for loop>"0"*i)

In [ ]:
rows=5
# using nested loopswith end=""
for i in range(rows,0,-1):
  for j in range(i):
    print("0",end=" ")
  print()

print()
# using single loop
for i in range (rows,0,-1):
  print("0 "*i)

## Problem satement 4 ---

        Given the following vegetables list, add "tomato" to the end of the list and then sort them in alphabetical order.
        vegetables = ["eggplant","broccoli","carrot","cauliflower","zuuchini"]

### Solution can be ---

 for adding another item--

       1.  Add one item to the end                            i.e.(use .append())  
       2.  use extend mainly for adding more than one item    i.e.(use .extend())
       3.  concatenate                                        i.e.(list1+list2)
         option 2 and 3 is not working here...it will breakdown the word
   for sorting--

       1.  use .sort()                                       i.e.(list.sort())
           (but the problem is it is case sensitive i.e. upper case came before lower case due to ASCII rule)
       2.  for revese order make reverse attribute true      i.e (list.sort(reverse=True))

In [ ]:
vegetables = ["eggplant","broccoli","carrot","cauliflower","zuuchini"]

vegetables.append("tomato")
print(vegetables)
print()

vegetables.sort()
print(vegetables)
print()

vegetables.sort(reverse=True)
print(vegetables)
print()

## Problem statement 5 ---
     
      Wrtite a function to check a no. is odd or not. Return True if odd

### Solution can be ---

     1.  firstly we have to take a input from user
     2.  it has to be integer input
     3.  define function with help of if-else statement
     4.  output is True or false
     *   you can add check inetger

In [ ]:
#function--
def odd_checker(user_input):
# .isdigit() -- check if the no. id integer or not
 if user_input.isdigit():
    a = int(user_input)
    if a % 2 != 0:
        return True
    else:
        return False
 else:
    print("Invalid input")

user_input = input("Enter a number: ")
print(odd_checker(user_input))

## Problem statement 6 ---
       

       Write a function definition named mode that takes in a list of number and returns the most commonly occuring value

### Solution is ---

       1.  take input from user using list>map>inegerinput>with split by space
       2.  import counter from collections
           1. colculate fequecy each data
           2. find out which has maximum frequency
           3. check for which data that max-freq belongs

Though i think using statistic.multimode() will do thing easily.

In [ ]:
from collections import Counter

# function---
def mode(data):
  freq = Counter(data)
  max_freq = max(freq.values())
# here freq.items crate a new list with showing how many time sech element exist
  modes = [k for k, f in freq.items() if f == max_freq]
# so it basicaslly says gimnes me a list of all numbers(k) whose fequency(f) is equal with max_freq
  return modes

user_input = list(map(int,input("Enter a list of numbers: ").split()))
modes = mode(user_input)
print()
print("The mode(s) of the list is/are:", modes)
print()

import statistics
print("modes:",statistics.multimode(user_input))

# Numpy Exercise

## Problem statement 1 ---

       Create a 4x2 ineteger array and Prints its attributes
       Note: The element must be a type of unsigned int16.
       And print the following Attributes:-
          1. The shape of an array.
          2. Array dimensions.
          3. The Length of each element of the array in bytes

### Solution ---

      1. crate an array(4x2) with given datatype
      2. calculate shape by .shape
      3. calculate dimension by .ndim
      4. calculate length of each element by .iemsize

In [ ]:
import numpy as np

# Create a 4x2 integer array with unsigned int16 data type
array_4x2 = np.array([[1, 2], [3, 4], [5, 6], [7, 8]], dtype=np.uint16)

# Print the attributes
print("Shape of the array:", array_4x2.shape)
print("Array dimensions:", array_4x2.ndim)
print("Length of each element of the array in bytes:", array_4x2.itemsize)

Shape of the array: (4, 2)
Array dimensions: 2
Length of each element of the array in bytes: 2

## Problem statement 2 ---

       Following is the provided numpy array. Return array of itens by taking the third column from all rows .
       sampleArray = numpy.array([[11,22,33],[44,55,66,],[77,88,99]])

### Solution---

       1. import numpy
       2. write down the array
       3. for any array[m,n]--m=no.of rows&n=no.of columns

In [ ]:
import numpy as np
sampleArray = np.array([[11,22,33],[44,55,66],[77,88,99]])
third_column = sampleArray[:, 2]
# Bcz. we know that array[m,n]--m=rows&n=columns
third_column

## Problem statement 3 ---

        sort the foolowing numpy array-
        case 1: sort array by the second row
        case 2: sort array by the second column

### Solution ---

In [ ]:
import numpy as np
arr = np.array([[11, 22, 33],
                [44, 55, 66],
                [77, 88, 99]])
# Case 1: Sort array by the second row
# We need to transpose the array, sort by the second column (which was the second row), then transpose back.
# np.argsort gives the indices that would sort the array
sorted_indices_by_row2 = np.argsort(arr[1, :])
sorted_by_row2 = arr[:, sorted_indices_by_row2]
print("Array sorted by the second row:")
print(sorted_by_row2)

# Case 2: Sort array by the second column
# Use np.argsort on the second column to get the indices that would sort it.
sorted_indices_by_col2 = np.argsort(arr[:, 1])
sorted_by_col2 = arr[sorted_indices_by_col2, :]
print("\nArray sorted by the second column:")
sorted_by_col2

# Pandas Exercise

In this esercise, we are using Automobile Dataset analysis. This Dataset for data analysis. This Dataset hasdifferent characteristics of an auton such as body-style, wheel-base, engine-type, price, milega, horsepower, etc.

https://pynative.com/wp-content/uploads/2019/01/Automobile_data.csv

## Problem satement 1 ---

      From the given dataset print the first and the last five rows

### Solution---

In [ ]:
import pandas as pd

# Load the dataset
from google.colab import files
uploaded = files.upload()
df = pd.read_csv("Automobile_data.csv")

# Print the first five rows
print("First five rows:")
print(df.head())

# Add a newline for better separation
print("\n")

# Print the last five rows
print("Last five rows:")
print(df.tail())

## Problem statement 2 ---

      Replace all coloumn values which contain ?, n.a., or NAN with suitable values print the updated Dataset.

### Solution ---

In [ ]:
import pandas as pd
import numpy as np

# Upload the file
from google.colab import files
uploaded = files.upload()

# Read the CSV file
df = pd.read_csv("Automobile_data.csv", na_values=["?", "n.a.", "NAN"])

# Fill missing values
# Fill numeric columns with mean
# Fill object/string columns with mode (most frequent)

for col in df.columns:
    if df[col].dtype == 'object':
        df[col].fillna(df[col].mode()[0], inplace=True)
    else:
        df[col].fillna(df[col].mean(), inplace=True)

# Print the updated DataFrame
print("\nUpdated Dataset Preview:\n", df.head())

## Problem statement 3 ---

       Count total cars per company and print them


### Solution ---

In [ ]:
import pandas as pd

# Load the dataset
from google.colab import files
uploaded = files.upload()
df = pd.read_csv("Automobile_data.csv")

# Count the occurrences(cars) of each company
car_counts = df['company'].value_counts()

# Print the counts
print("\nTotal cars per company:")
print(car_counts)

# Matplotlib Exercise

Use the following CSV file for this exercise. Read this file using pandas or Numpy or using inbuilt matplotlib function.

https://pynative.com/wp-content/uploads/2019/01/company_sales_data.csv

## Problem statement 1 ---

       Read Total profit of all months and show it using a line plot
       Total profit data provided of each month. Generated line plot must include the following properties:-

       X lable name = Month Number
       Y lable name = Total profit

### Solution ---

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the dataset
from google.colab import files
uploaded = files.upload()
df = pd.read_csv("company_sales_data.csv")

# Extract month number and total profit
month_number = df['month_number']
total_profit = df['total_profit']

# Create the line plot
plt.plot(month_number, total_profit )

# Set labels
plt.xlabel('Month Number')
plt.ylabel('Total profit')

# Add title (optional)
plt.title('Total Profit per Month')

# Show the plot
plt.show()

## Problem statement 2 ---

       Read face cream and facewash product sales dataand show it using the bar chart.
       The bar chart should display the number of units sold per month for each product.
       Add a seperate bar for each product in the same chart.

### Solution ---

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the dataset
from google.colab import files
uploaded = files.upload()
df = pd.read_csv("company_sales_data.csv")

# Extract the month number, face cream sales, and facewash sales
month_number = df['month_number']
facecream_sales = df['facecream']
facewash_sales = df['facewash']

# Set the width of the bars
bar_width = 0.35

# Create a bar chart
plt.bar(month_number - bar_width/2, facecream_sales, bar_width, label='Face Cream Sales')
plt.bar(month_number + bar_width/2, facewash_sales, bar_width, label='Facewash Sales')

# Add labels to the x and y axes
plt.xlabel("Month Number")
plt.ylabel("Units Sold")

# Add a title to the plot (optional)
plt.title("Monthly Sales of Face Cream and Facewash")

# Add a legend to the chart
plt.legend()

# Set the x-axis ticks to be at the center of the two bars for each month
plt.xticks(month_number)

# Show the plot
plt.show()